{% extends 'women/base.html' %}

{% block about %}
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Расскажем немного о нас</h1>
        <p class="lead text-body-secondary">Наша сеть автосалонов B.A.S (Bogdan Auto Shop) насчитывает порядка 50 филлиалов в разных регионах страны, начиная от Брянска, заканчивая Новосибирском.</p>
        <p>
          <a href="../cars/" class="btn btn-primary my-2">Посмотреть авто</a>
          <a href="../" class="btn btn-secondary my-2">Перейти на главную</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="../../static/women/image/Gal1.jpg" width="100%" height="225"  role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text class="text-center" x="50%" y="50%" fill="#eceeef" dy=".3em">  Награждение достойных</text></img>
            <div class="card-body">
              <p class="card-text">Награждение Артёма Игнатьева званием "Сотрудник месяца".</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../../static/women/image/Gal2.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text class="text-center" x="50%" y="50%" fill="#eceeef" dy=".3em">Первые шаги</text></img>
            <div class="card-body">
              <p class="card-text">Первый автосалон в городе Брянск, открытый в 2007 году.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../../static/women/image/Gal3.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text class="text-center" x="50%" y="50%" fill="#eceeef" dy=".3em">Мировое сотрудничество</text></img>
            <div class="card-body">
              <p class="card-text">Совместное открытие автосалона с представителями AUDI, 2010 год.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../../static/women/image/Gal4.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text class="text-center" x="50%" y="50%" fill="#eceeef" dy=".3em">Юбилей</text></img>
            <div class="card-body">
              <p class="card-text">Открытие 10 автосалона в Москве, 2013 год. Фото в цвете</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../../static/women/image/Gal5.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text class="text-center" x="50%" y="50%" fill="#eceeef" dy=".3em">Масштабы представляете?</text></img>
            <div class="card-body">
              <p class="card-text">1000 проданных автомобилей, ты действовал наверняка, 2014 год.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../../static/women/image/Gal6.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text class="text-center" x="50%" y="50%" fill="#eceeef" dy=".3em">Куда мы попали?</text></img>
            <div class="card-body">
              <p class="card-text">Открытие 50 автосалона в Новосибирске, не знаю зачем.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock %}
