{% extends 'women/base.html' %}
{% block header1 %}
    <li class="nav-item">
                <a class="nav-link scrollto" href="/">
                    <button type="button" class="btn btn-primary">
                        Главная страница
                    </button>
                </a>
    </li>
    <li class="nav-item">
                <a class="nav-link scrollto" href="/about/">
                    <button type="button" class="btn btn-primary">
                        О нас
                    </button>
                </a>
    </li>
    <li class="nav-item">
                <a class="nav-link scrollto" href="/cars/">
                    <button type="button" class="btn btn-primary">
                        Автомобили
                    </button>
                </a>
    </li>
    <li class="nav-item">
                <a class="nav-link scrollto" href="/car_sell">
                    <button type="button" class="btn btn-primary">
                        Оплатить покупку
                    </button>
                </a>
            </li>


{% endblock %}
{% block contact %}
  <div class="container mt-5">
    <h1>Связаться с нами</h1>
    <form id="comment-form" method="post" class="justify-content-between">
      {% csrf_token %}
        {{form.name}}<br>
        {{form.phone_number}}<br>
        {{form.email}}<br>
        {{form.message}}<br>
        <span>{{error}}</span>
      <button type="submit" class="btn btn-success mb-4" >Добавить</button>
    </form>

    <div class="mt-4 container row justify-content-between">
      <h1>Ссылки:</h1>

            <h2><a href="https://vk.com/tupabodya">ВКонтакте</a></h2>
            <h2><a href="https://github.com/TupaBodya">GitHub</a></h2>


    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}