{% extends 'women/base.html' %}
{% load static %}

    {% block link %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="../../static/women/css/stylesheet.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    {% endblock %}

{% block header1 %}
    <li class="nav-item">
                <a class="nav-link scrollto" href="/">
                    <button type="button" class="btn btn-primary">
                        Главная страница
                    </button>
                </a>
    </li>
    <li class="nav-item">
                <a class="nav-link scrollto" href="/about/">
                    <button type="button" class="btn btn-primary">
                        О нас
                    </button>
                </a>
    </li>
    <li class="nav-item">
                <a class="nav-link scrollto" href="/cars/">
                    <button type="button" class="btn btn-primary">
                        Автомобили
                    </button>
                </a>
    </li>
    <li class="nav-item">
                <a class="nav-link scrollto" href="/car_sell">
                    <button type="button" class="btn btn-primary">
                        Оплатить покупку
                    </button>
                </a>
            </li>


{% endblock %}


{% block car %}
    <hr class="my-4 container">
    <div class="container">
        <div class="auto-spisok">
            <h1>Данные об авто:</h1>
            <h2>{{Model}}</h2>
            <br>
            <i>Дата изготовления: {{Date}} год.</i>
            <br>
            <i>Пробег: {{Range}} Км.</i>
            <br>
            <i>
                Двигатель:
                {% if Engine == 'Deisel' %}
                    Дизельный
                {% else %}
                    Бензиновый
                {% endif %}
            </i>
            <br>
            <i>
                Тип:
                {% if Type == 'sedan' %}
                    Седан
                {% else %}
                    Внедорожник
                {% endif %}
            </i>
            <br>
            <i>
                Наличие:
                {% if Availability %}
                    Имеется в наличии
                {% else %}
                    Не имеется в наличии
                {% endif %}
                </i>
                    <div class="col-lg-6 col-xxl-4 my-5 mx-auto">
                        <div class="d-grid gap-2">
                                <button class="btn btn-outline-secondary" type="button" aria-current="page" data-bs-toggle="modal" data-bs-target="#modal-cart1" >
                                    <a class="none2" href="#" aria-current="page">Отложить в избранное</a>
                                </button>
                                <div class="modal fade" id="modal-cart1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Избранное</h1>
                                                <button type="button" class="btn-close btn" data-bs-dismiss="modal" aria-label="Close">X</button>
                                              </div>
                                              <div class="modal-body">
                                                Вы уверены, что хотите добавить данное авто в список избранного?
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                <button type="button" class="btn btn-primary">
                                                    <a href="../../addpage/" class="btn-primary">
                                                        Да, я уверен
                                                    </a>
                                                </button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal-cart2" aria-current="page" >
                                    <a class="none" href="#" aria-current="page">Купить прямо сейчас</a>
                                </button>
                                    <div class="modal fade" id="modal-cart2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Покупка</h1>
                                                <button type="button" class="btn-close btn" data-bs-dismiss="modal" aria-label="Close">X</button>
                                              </div>
                                              <div class="modal-body">
                                                Вы уверены, что хотите купить данное авто?
                                              </div>

                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                <button type="button" class="btn btn-primary" href="">
                                                    <a href="../../addpage/" class="btn-primary">
                                                        Да, я уверен
                                                    </a>
                                                </button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                        </div>
                    </div>
            <div class="container">
                <marquee behavior="alternate" direction="" scrollamount="7" vspace="">
                    <img src="{% static 'women/image/' %}{{image_}}">
                    <img src="{% static 'women/image/' %}{{image2_}}">
                    <img src="{% static 'women/image/' %}{{image3_}}">
                </marquee>
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
