{% extends 'women/base.html' %}
{% block header1 %}
    <li class="nav-item">
                <a class="nav-link scrollto" href="/">
                    <button type="button" class="btn btn-primary">
                        Главная страница
                    </button>
                </a>
    </li>
    <li class="nav-item">
                <a class="nav-link scrollto" href="/about/">
                    <button type="button" class="btn btn-primary">
                        О нас
                    </button>
                </a>
    </li>
    <li class="nav-item">
                <a class="nav-link scrollto" href="/cars/">
                    <button type="button" class="btn btn-primary">
                        Автомобили
                    </button>
                </a>
    </li>
    <li class="nav-item">
                <a class="nav-link scrollto" href="/addpage/">
                    <button type="button" class="btn btn-primary">
                        Оплатить покупку
                    </button>
                </a>
            </li>
    <li class="nav-item">
                <a class="nav-link scrollto" href="/posts/">
                    <button type="button" class="btn btn-primary">
                        Опубликовать статью
                    </button>
                </a>
            </li>


{% endblock %}
{% block posts %}
    <br>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="col-sm-6">
              <label for="lastName" class="form-label">{{ form.as_p }}</label>
              <div class="invalid-feedback">
                Неверный ввод данных
              </div>
                <br>
            </div>
            <button type="submit">Создать пост</button>
        </form>
    </div>
{% endblock %}