

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial Narrow', sans-serif;
}


.menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 2.4px;
}
.container-full {
    padding: 0 12px;
}

